<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!--      xmlns:sec="http://www.w3.org/1999/xhtml"-->
  <title>Login page </title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
  />
    <link rel="stylesheet" th:href="@{/css/style.css}" />



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
<div class="d-flex">

  <!--sidebar-->
  <header id="sidebar" class="sidebar d-flex flex-column  bg-dark px-4 block   justify-content-between align-items-center  py-4"  >

    <nav class="navbar-nav text-light d-flex flex-column align-items-center  justify-content-evenly" >
      <i class="bi bi-person-circle icon "></i>
      <div sec:authorize="isAuthenticated()" th:class="greeting">
        <h6 class="text-center">Welcome</h6>

        <p th:text="${user}" class="truncate"></p>


      </div>



      <ul class="list-unstyled ">

        <!--        <div sec:authorize="isAuthenticated()">-->
        <li class="nav-item "><a href="#home" class="nav-link text-light d-flex align-items-end " > <i class="bi bi-house"></i>&nbsp;<span class="list-item">Home</span></a></li>
        <!--        </div>-->
        <!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
        <li class="nav-item "><a href="#depart" class="nav-link text-light d-flex align-items-end"><i class="bi bi-arrows-fullscreen"></i>&nbsp;<span class="list-item">Depart</span></a></li>
        <!--        </div>-->
        <!--        <div sec:authorize="hasRole('USER')">-->
        <li class="nav-item " th:if ="${role}!='ROLE_DOCTOR'"><a href="#doctor" class="nav-link text-light d-flex align-items-end"><i class="bi bi-plus-circle"></i>&nbsp;<span class="list-item">Doctor</span></a></li>
        <!--       </div>-->

        <li class="nav-item " th:if ="${role}!='ROLE_MANAGER'"><a href="#nurse" class="nav-link text-light d-flex align-items-end" ><i class="bi bi-calendar-date"></i>&nbsp;<span class="list-item">Nurse</span></a></li>

        <li class="nav-item "><a href="#patient" class="nav-link text-light d-flex align-items-end"><i class="bi bi-person"></i>&nbsp;<span class="list-item">Patient</span> </a></li>

        <li class="nav-item "><a href="#about" class="nav-link text-light d-flex align-items-end"><i class="bi bi-bell"></i>&nbsp;<span class="list-item">About</span> </a></li>

        <li class="nav-item "><a href="#contact" class="nav-link text-light d-flex align-items-end"><i class="bi bi-envelope"></i>&nbsp;<span class="list-item">Contact</span> </a></li>

      </ul>

    </nav>


    <a th:defer="true" th:href="@{/logout}" class="btn btn-success out">Sign out</a>
  </header>





  <!--rest page-->
  <div class="d-flex flex-column">
    <!--    top search bar-->
    <header  class="header  ">
      <div class="container">
        <form th:action="@{/admin/home/search}" method="GET" class="d-flex justify-content-end">

          <div class="input-group">
            <input type="text" class="form-control search" name="keyword" placeholder="search ..." >
            <button type="submit" class="btn  btn-outline-light">Search</button>
          </div>
        </form>
      </div>


    </header>
    <!--    main content page-->

    <main>


<!--      home page-->
      <section id="home" class="text-center">
        <div class="container landing">
          <h1 class="welcome">Welcome to the Home Page </h1>
          <p class="intro lead">This is a fully functional hospital management system,we can manipulate all parties among
            patients nurses departments and doctors,as a boss or the manager of the hospital, make your management easier </p>

          <a href="#about" class="link_about btn learn ">Learn more</a>
        </div>

        <svg class="arrows">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
      </section>
<!-- department-->
      <section id="depart" class="p-5">
        <h1 class="text-center title_heading departments">Our Departments</h1>
        <div class="container-sm">
        <div class="row text-center g-4 ">
          <!-- card 1-->
          <div class="col-md depart_card">
            <div class="card bg-dark text-light card_dep">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">Emergency</h3>
                <p>(ED)</p>
                <p class="card-text cutoff-text">
                  This department is responsible for providing immediate medical
                  attention to patients who require urgent medical care.
                </p>
                <input type="checkbox" class="btn btn-primary  expand-btn">
              </div>
            </div>
          </div>
          <!-- card 2-->
          <div class="col-md depart_card">
            <div class="card bg-secondary text-light card_dep">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                <h3 class="card-title mb-3">Intensive Care Unit</h3>
                <p>(ICU)</p>
                <p class="card-text cutoff-text">
                  This department is designed for patients who require constant monitoring and care,
                  such as those who are critically ill or recovering from major surgery.
                </p>
                <input type="checkbox" class="btn btn-dark expand-btn">
              </div>
            </div>
          </div>

          <!-- card 3 -->
          <div class="col-md depart_card">
            <div class="card bg-dark text-light card_dep">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">Outpatient</h3>
                <p>(OPD)</p>
                <p class="card-text cutoff-text">
                  This department provides medical services to patients who do not require hospitalization
                  and can be treated on an outpatient basis, such as those who need medical check-ups, consultations, or minor procedures.
                </p>
                <input type="checkbox" class="btn btn-primary expand-btn">
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>


<!--      doctor-->
      <section id="doctor" class="p-5" th:if ="${role}!='ROLE_DOCTOR'">

        <div class="container">
          <div  class="d-flex justify-content-end plus"> <a th:href="${role}=='ROLE_ADMIN'?'/admin/register/doctor':'#'" class="btn btn-light " >+</a></div>


          <div class="container ">
            <h2 class="text-center text-white">Our Experts</h2>
            <p class="lead text-center text-white mb-1">
              Our Doctors all have 20+ years working experiences in medical institutions
            <span th:if ="${role}!='ROLE_GUEST'" ><i id="show"  class="bi bi-eye click_show "></i></span>
            </p>

            <div  class=" d-flex star" >
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>

              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </div>
<!--            <div class="d-flex justify-content-center"><button id="show" class="btn btn-success click_show ">show table</button></div>-->

            <div id="docCard" class="row g-4"  >
              <div class="col-md-6 col-lg-3 " th:each ="doctor:${doctors}" >
                <div class="card bg-light  ">
                  <div class="card-body text-center position-relative">
                    <img th:src="@{'https://randomuser.me/api/portraits/men/' + ${doctor.id} + '.jpg'}" class="rounded-circle mb-3" alt="">
                    <h4 class="card-title mb-3" th:text ="${doctor.firstName}+' '+${doctor.lastName}" ></h4>
                    <p th:if ="${role}!='ROLE_GUEST'" >
                    <a th:href="@{/showFormForUpdate(doctorId=${doctor.id})}" class="btn btn-outline-success mb-3">Update</a>
                    </p>

                    <p th:if ="${role}=='ROLE_GUEST'" >
<!--                      <a th:href="@{/showFormForUpdate(doctorId=${doctor.id})}" class="btn btn-outline-success mb-3">schedule</a>-->
                      <a th:href="@{/showFormForSchedule(doctorId=${doctor.id})}" class="btn btn-outline-success mb-3">schedule</a>
                    </p>

                    <div class="d-flex justify-content-center"><span>Email:</span>  <p class="card-text" th:text="${doctor.email}"></p></div>
                    <div class="d-flex justify-content-center"><span>Phone:</span>  <p class="card-text" th:text="${doctor.phoneNumber}"></p></div>
                  <div class="d-flex mt-2 justify-content-center">
                    <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                    <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                    <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                    <span th:if ="${role}=='ROLE_ADMIN'" >

                    <a th:href="@{/doctor/delete(doctorId=${doctor.id})}" class="position-absolute trash"><i class="bi bi-trash text-success "></i></a>

                    </span>
                  </div>


                  </div>
                </div>

              </div>
              </div>
          </div>







          <div id="docTable" class="container doctor_table hidden">
            <div class="d-flex justify-content-between mb-3">

              <div>
                <i  onclick="sortDoctorAsc()" class="bi bi-arrow-up-circle text-light"></i>
                <i  onclick="sortDoctorDesc()" class="bi bi-arrow-down-circle text-light"></i>
              </div>

              <form class="d-flex">
                <input type="text" id="search_doctor" name="doctor">
                <button type="button" onclick="searchDoctor()" class="search_btn"><i class="bi bi-search"></i></button>
              </form>

            </div>
            <table id="doctor_table" class="table table-bordered table-striped">
              <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Action </th>
              </tr>
              </thead>

              <tbody class="doc_tbody">
              <tr th:each ="doctor:${doctors}" th:data-doctor ="${doctor.firstName}" th:data-doctor-all="${doctor.firstName}+${doctor.lastName}+${doctor.email}+${doctor.phoneNumber}"class="text-light">

                <td th:text ="${doctor.firstName}+' '+${doctor.lastName}" />
                <td th:text ="${doctor.email}" />
                <td th:text="${doctor.phoneNumber}" />

                <td >
                  <!--Add update button link -->
                  <a
                          th:href="@{/showFormForUpdate(doctorId=${doctor.id})}"
                          class="btn btn-sm"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg >
                  </a>

                  <!--Add delete button link -->

                  <span th:if ="${role}=='ROLE_ADMIN'" >
                  <a
                          th:href="@{/doctor/delete(doctorId=${doctor.id})}"
                          class="btn btn-sm"
                          onclick="if (!(confirm('Are you sure you want to remove this doctor?'))) return false">
                    <i class="bi bi-trash text-success "></i></a>
                  </span>
                </td>



              </tr>
              </tbody>

            </table>
          </div>

        </div>

      </section>



<!--      nurse-->

      <section id="nurse" class="p-5"  th:if ="${role}!='ROLE_MANAGER'">

        <div class="container">
          <div class="d-flex justify-content-end plus"> <a  th:href="${role}=='ROLE_ADMIN'?'/admin/register/nurse':'#'" href="/admin/register/nurse" class="btn btn-light " th:disabled="${role}!='ROLE_ADMIN'" >+</a></div>
          <div  class="container ">
            <h2 class="text-center ">Our Nurses</h2>

            <p class="lead text-center  mb-1">
             Let's take a look at our best angels in our hospital

            <span th:if ="${role}=='ROLE_ADMIN'" >
               <i id="eye" class="bi bi-eye click_show "></i>
            </span>

            </p>



            <div id="nurseCard"  class="row g-4"  >
              <div class="col-md-6 col-lg-3 " th:each ="nurse:${nurses}"  >
                <div class="card bg-light nurse_card  ">
                  <div class=" text-center position-relative">

                    <img th:src="@{'https://randomuser.me/api/portraits/women/' + ${nurse.id} + '.jpg'}" class="rounded-circle mb-3" alt="">
                    <h6 class="card-title mb-3 text-light" th:text ="${nurse.firstName}+' '+${nurse.lastName}" ></h6>

                    <div class="nurse_info">

                      <div class="d-flex justify-content-center text-dark"><span>Email:</span>  <p class="card-text" th:text="${nurse.email}"></p></div>
                      <div class="d-flex justify-content-center text-dark"><span>Phone:</span>  <p class="card-text" th:text="${nurse.phoneNumber}"></p></div>
                      <div class="d-flex mt-2 justify-content-center">
                        <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        <p th:if ="${role}=='ROLE_ADMIN'">
                         <a th:href="@{/nurse/delete(nurseId=${nurse.id})}" class="position-absolute trash"><i class="bi bi-trash text-danger "></i></a>
                         <a th:href="@{/showFormForUpdateNurse(nurseId=${nurse.id})}" class="text-dark position-absolute update_nurse "><i class="bi bi-arrow-repeat text-success"></i></a>
                        </p>
                      </div>
                    </div>



                  </div>
                </div>

              </div>
            </div>


<!--            nurseTable-->
            <div id="nurseSort" th:class="hidden" >
            <div class="d-flex justify-content-between mb-3">


              <div>
                <i  onclick="sortNurseAsc()" class="bi bi-arrow-up-circle text-dark"></i>
                <i  onclick="sortNurseDesc()" class="bi bi-arrow-down-circle text-dark"></i>
              </div>

              <form class="d-flex">
                <input type="text" id="search_nurse" name="nurse">
                <button type="button" onclick="searchNurse()" class="search_btn"><i class="bi bi-search"></i></button>
              </form>

            </div>
            </div>

            <table id="nurseTable" class="nurse_table table table-bordered table-striped hidden">

              <thead class="table-dark">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Action </th>
                </tr>
              </thead>

              <tbody class="nurse_tbody">
              <tr th:each ="nurse:${nurses}" th:data-nurse="${nurse.firstName}" th:data-nurse-all="${nurse.firstName}+${nurse.lastName}+${nurse.email}+${nurse.phoneNumber}">

                <td th:text ="${nurse.firstName}+' '+${nurse.lastName}" />
                <td th:text ="${nurse.email}" />
                <td th:text="${nurse.phoneNumber}" />


                <td >
                  <!--Add update button link -->


                    <a th:href="@{/showFormForUpdateNurse(nurseId=${nurse.id})}"
                          class="btn btn-sm"
                     >

                      <i class="bi bi-arrow-repeat text-success"></i>
                    </a>



                  <!--Add delete button link -->

                  <a     th:href="@{/nurse/delete(nurseId=${nurse.id})}"
                         class="btn btn-sm"
                         onclick="if (!(confirm('Are you sure you want to remove this nurse?'))) return false">
                        <i class="bi bi-trash text-danger "></i>
                  </a>



                </td>



              </tr>
              </tbody>

            </table>
          </div>
        </div>

      </section>



      <!--patient-->
      <section id="patient" class="p-5">
        <h1 class="text-center title_heading patients">Patients</h1>



        <div class="container">


          <div th:if="${role}!='ROLE_GUEST'"  class="d-flex  justify-content-between mb-3">

            <div>
              <i  onclick="sortPatientAsc()" class="bi bi-arrow-up-circle text-light"></i>
              <i  onclick="sortPatientDesc()" class="bi bi-arrow-down-circle text-light"></i>
            </div>
            <form class="d-flex">
              <input type="text" id="search_patient" name="patient">
              <button type="button" onclick="searchPatient()" class="search_btn"><i class="bi bi-search"></i></button>
            </form>

          </div>



        <table id="patient_table" class="table table-bordered table-striped">

          <thead class="table-dark">
          <tr>

            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th th:if="${role}!='ROLE_GUEST' and ${role}!='ROLE_DOCTOR'">Action </th>
            <th th:if="${role}=='ROLE_GUEST' or ${role}=='ROLE_DOCTOR'">Appointment Time </th>
<!--            <th th:if="${role}=='ROLE_GUEST'">Doctor </th>-->
          </tr>

          </thead>

          <tbody class="patient_tbody">

<!--          <tr th:if="${role}=='ROLE_DOCTOR'" th:each ="patient:${patients}"  th:each ="schedule:${schedules}"  >-->
<!--            <td class="text-light" th:text ="${patient.firstName} + ' '+ ${patient.lastName}" >-->

<!--            </td>-->

<!--            <td class="text-light" th:text ="${patient.email}" />-->

<!--            <td class="text-light" th:text="${patient.phoneNumber}" />-->



<!--          </tr>-->

          <tr  th:each ="patient:${patients}" th:data-patient="${patient.firstName}" th:data-patient-all="${patient.firstName}+${patient.lastName}+${patient.email}+${patient.phoneNumber}">

            <td class="text-light" th:text ="${patient.firstName} + ' '+ ${patient.lastName}" />

            <td class="text-light" th:text ="${patient.email}" />

            <td class="text-light" th:text="${patient.phoneNumber}" />

            <td class="text-light " th:if="${role}=='ROLE_DOCTOR' " th:classappend="${schedules.size()} ? 'bg-success' : ''">
<!--                <ul>-->
<!--                  <li th:each ="schedule:${schedules}"  th:if="${schedule.patientId == patient.id} "   >-->
<!--                  <span th:text="${#temporals.format(schedule, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
<!--                  </li>-->
<!--                </ul>-->

              <ul>
                <li th:each ="appointment:${appointments}"  th:if="${appointment.getPatient().getId() == patient.id} "   >
                  <span th:text="${#temporals.format(appointment.getAppointmentTime(), 'yyyy-MM-dd HH:mm:ss')}"></span>
                </li>
              </ul>
            </td>

            <td class="text-light " th:if="${role}=='ROLE_GUEST' " th:classappend="${schedules.size()} ? 'bg-success' : ''">
              <ul>
                <li th:each ="schedule:${schedules}"    >
                  <span th:text="${#temporals.format(schedule, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </li>
              </ul>

            </td>










            <td th:if ="${role}!='ROLE_GUEST'and ${role}!='ROLE_DOCTOR' " >
              <!--Add update button link -->

              <a
                 class="btn btn-sm"
                 th:href="@{/showFormForUpdatePatient(patientId=${patient.id})}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg >
              </a>

              <!--Add delete button link -->

                 <a th:href="@{/guest/delete(patientId=${patient.id})}"
                   class="btn btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this patient?'))) return false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                 </a>

            </td>


          </tr>


          </tbody>

        </table>


        </div>


      </section>

<!--      about section-->
      <section id="about" class="p-5">

        <div class="container">
          <h2 class="text-center mb-4">About us</h2>
          <div class="accordion accordion-flush" id="questions">
            <!-- item -1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#question-one" >
                  Where is this system about ?
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse show"  data-bs-parent="#questions">
                <div class="accordion-body">
                  this is a management system for the boss to take every member under control , this is also a system for
                  the employee to track their work.
                </div>
              </div>
            </div>

            <!-- item -2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two" >
                  what is the process of this on-line system ?
                </button>
              </h2>
              <div id="question-two" class="accordion-collapse collapse"  data-bs-parent="#questions">
                <div class="accordion-body">
                  client or patients have to go to the counter or making a phone call to the counter , the nurse will help make an appointment
                  or check the doctor's schedule.
                </div>
              </div>
            </div>

            <!-- item -3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three" >
                  What do I need ?
                </button>
              </h2>
              <div id="question-three" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  before making appointment , you need to bring your passport or any government issued ID with phone.After
                  successfully making the appointment, we will send you a notification one week before . if you have emergency
                  with you ,don't forget to inform us the day before the appointment, otherwise there will be a punishment of
                  500 dollars for cancelling the appointment due to the placement has been taken under such circumstance.
                </div>
              </div>
            </div>


            <!-- item -4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-Four" >
                  Can I make an appointment online ?
                </button>
              </h2>
              <div id="question-Four" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  so afar no online appointment is granted yet. Because we need  your passport or any government issued ID with photo.After
                  successfully making the appointment, we will send you a notification one week before . if you have emergency
                  with you ,don't forget to inform us the day before the appointment, otherwise there will be a punishment of
                  500 dollars for cancelling the appointment due to the placement has been taken under such circumstance.
                </div>
              </div>
            </div>

            <!-- item -5 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-Five" >
                  Any other questions which are also frequently asked but not mentioned here ?
                </button>
              </h2>
              <div id="question-Five" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  if you find any other question which might be important to both of use,Do not hesitate to call us.
                  the contact information will be listed below in the Contact section
                </div>
              </div>
            </div>


          </div>


        </div>
      </section>

      <!-- Contact & Map -->
      <section id="contact" class="p-5" >
        <div class="container">
          <div class="row g-4">
            <div class="col-md">


              <div class="d-flex   align-items-center justify-content-between">
                <div class="d-flex flex-column">
                  <h2 class="text-center mb-4 text-light offset-md-3">Contact Info</h2>
                  <ul class=" lead text-sm-start text-light">
                    <li class="list-group-item">
                      <span class="fw-bold">Main Location:</span> 50 Main St Boston MA
                    </li>

                    <li class="list-group-item">
                      <span class="fw-bold">Enrollment Phone:</span> (555)555-5555
                    </li>

                    <li class="list-group-item">
                      <span class="fw-bold">Front Desk Phone:</span> (333)333-3333
                    </li>

                    <li class="list-group-item">
                      <span class="fw-bold">Enrollment Email:</span> (555)enroll@frontendbc.test
                    </li>

                    <li class="list-group-item">
                      <span class="fw-bold">Contact Email:</span> (555)student@frontendbc.test
                    </li>
                  </ul>
                </div>


                <div class="col-md-6 ">
                  <div id='map'>
                    <div class="google-map py-10 d-none d-md-block ">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
      </section>

    </main>






<!--    footer-->
    <footer  class="footer text-light text-center py-3 ">
      <div class="container">Zhu Qigong . Mao Haiyun . Zhang Jie  &copy; 2023  All Right Reserved</div>
      <a href="#" class="position-absolute bottom-0 end-0 p-3 text-light ">
        <i class="bi bi-arrow-up-circle h3"></i>
      </a>
    </footer>

  </div>


</div>









<script type="text/javascript" th:src="@{/js/index.js}" defer="defer"></script>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>

</body>
</html>