<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!--      xmlns:sec="http://www.w3.org/1999/xhtml"-->
  <title>Login page </title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" th:href="@{/css/style.css}" />



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <style>
    .search_result{
      height:100vh;
      padding-top:80px;
      width:100vw;
      justify-content: center;
      align-items:center;
      /*padding-left: 20px;*/
      /*padding-right: 20px;*/

    }
  </style>
</head>
<body>
<div class="d-flex">

  <!--sidebar-->
  <header class="sidebar d-flex flex-column  bg-dark px-4 block   justify-content-between align-items-center  py-4"  >

    <nav class="navbar-nav text-light d-flex flex-column align-items-center  justify-content-evenly" >
      <i class="bi bi-person-circle icon "></i>
      <div sec:authorize="isAuthenticated()" th:class="greeting">
        <h6 class="text-center">Welcome</h6>

        <p th:text="${user}" class="truncate"></p>
      </div>



      <ul class="list-unstyled ">

        <!--        <div sec:authorize="isAuthenticated()">-->
        <li class="nav-item "><a href="/admin/home#home" class="nav-link text-light d-flex align-items-end " > <i class="bi bi-house"></i>&nbsp;<span class="list-item">Home</span></a></li>
        <!--        </div>-->
        <!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
        <li class="nav-item "><a href="/admin/home#depart" class="nav-link text-light d-flex align-items-end"><i class="bi bi-arrows-fullscreen"></i>&nbsp;<span class="list-item">Depart</span></a></li>
        <!--        </div>-->
        <!--        <div sec:authorize="hasRole('USER')">-->
        <li class="nav-item "><a href="/admin/home#doctor" class="nav-link text-light d-flex align-items-end"><i class="bi bi-plus-circle"></i>&nbsp;<span class="list-item">Doctor</span></a></li>
        <!--       </div>-->

        <li class="nav-item "><a href="/admin/home#nurse" class="nav-link text-light d-flex align-items-end" ><i class="bi bi-calendar-date"></i>&nbsp;<span class="list-item">Nurse</span></a></li>

        <li class="nav-item "><a href="/admin/home#patient" class="nav-link text-light d-flex align-items-end"><i class="bi bi-person"></i>&nbsp;<span class="list-item">Patient</span> </a></li>

        <li class="nav-item "><a href="/admin/home#about" class="nav-link text-light d-flex align-items-end"><i class="bi bi-bell"></i>&nbsp;<span class="list-item">About</span> </a></li>

        <li class="nav-item "><a href="/admin/home#contact" class="nav-link text-light d-flex align-items-end"><i class="bi bi-envelope"></i>&nbsp;<span class="list-item">Contact</span> </a></li>

      </ul>

    </nav>


    <a th:defer="true" th:href="@{/logout}" class="btn btn-success out">Sign out</a>
  </header>





  <!--rest page-->
  <div class="d-flex flex-column">
    <!--    top search bar-->
    <header  class="header  ">
      <div class="container">
        <form th:action="@{/admin/home/search}" method="GET" class="d-flex justify-content-end">

          <div class="input-group">
            <input type="text" class="form-control search" name="keyword" placeholder="search ..." >
            <button type="submit" class="btn  btn-outline-light">Search</button>
          </div>
        </form>
      </div>


    </header>

<main class="search_result">
  <div class="container">
  <table th:fragment="content"  class="table table-bordered table-striped" >
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action </th>
    </tr>
    </thead>

    <tbody class="patient_tbody">
    <tr  th:each ="user:${users}" th:data-patient="${user.firstName}">

      <td class="text-dark" th:text ="${user.firstName} + ' '+ ${user.lastName}" />
      <td class="text-dark" th:text ="${user.email}" />
      <td class="text-dark" th:text="${user.phoneNumber}" />


      <td >
        <!--Add update button link -->
        <!--              th:href="@{/showFormForUpdatePatient(patientId=${patient.id})}"-->
        <!--      <a-->
        <!--              class="btn btn-sm"-->


        <!--      >-->
        <!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-repeat" viewBox="0 0 16 16">-->
        <!--          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>-->
        <!--          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>-->
        <!--        </svg >-->
        <!--      </a>-->

        <!--Add delete button link -->
        <!--              th:href="@{/guest/delete(patientId=${patient.id})}"-->
        <!--      <a-->
        <!--         class="btn btn-sm"-->
        <!--         onclick="if (!(confirm('Are you sure you want to delete this patient?'))) return false">-->
        <!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash" viewBox="0 0 16 16">-->
        <!--          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>-->
        <!--          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>-->
        <!--        </svg></a>-->
      </td>




    </tr>
    </tbody>
  </table>
  <a class="btn btn-outline-success" href="/admin/home#home">back to the home page</a>
  </div>

</main>


    <!--    footer-->
    <footer  class="footer text-light text-center py-3 ">
      <div class="container">Zhu Qigong . Mao Haiyun . Zhang Jie  &copy; 2023  All Right Reserved</div>
      <a href="#" class="position-absolute bottom-0 end-0 p-3 text-light ">
        <i class="bi bi-arrow-up-circle h3"></i>
      </a>
    </footer>
  </div>
</div>
</body>
</html>